* {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}
body {
  box-sizing: border-box;
}
#directions {
  margin: 25px;
  font-size: 1.3rem;
  color: indigo;
}


.container-fluid {
  padding-top: 80px;
}

.col-md-4 {
  border: 2px solid green;
}